/*$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";*/
@import './libs/bootstrap';
@import "variables";
@import "partials/signup";

@import url("https://fonts.googleapis.com/css?family=Junge");
@import url("https://fonts.googleapis.com/css?family=Muli:400,300");

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/** Color Palette **/
$primary: #DF393B;
$primary-hover: #942425;
$black: #000;
$white: #fff;
$light-gray: #f9f9f9;
$gray: #ececec;
$gray-hover: #dadada;

$default-radius: 0;

body {
    font-family: 'Muli', sans-serif;
    font-weight: 100;
    color: $black;
    font-size: 15px;
}
a {
    color: $primary;
    cursor: pointer;
    &:hover, &:focus, &:active {
        color: $primary !important;
        text-decoration: underline;
    }
}
h1 {
    font-size: 40px;
    font-family: 'Junge', serif;
}
h3{
    font-weight: 100;
    font-family: 'Junge', serif;
}
h6 {
    font-family: 'Junge', serif;
    text-transform: uppercase;
    font-size:14px;
    font-weight: 100;
}
/*footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: $white;
    width: 100%;
    padding:25px;
}
.panel {
    border:none;
}
.panel-default>.panel-heading {
    background: $primary;
    border: none;
    color: $white;
}
.panel-default>.panel-heading h3{
    font-size: 24px;
}
.panel-default>.panel-heading a {
    color: $white;
    &:hover, &:focus, &:active {
        color: $light-gray !important;
    }
}
*/
.panel-heading .fa-angle-left {
    font-size: 45px;
    padding-top: 4px;
}

/** General **/
img.page-background {
  background: url("/images/balloons.jpg") no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 0;
}
.navbar {
  z-index: 100;
}


/** Home **/
.caption {
    font-size: 18px;
    font-family: 'Junge', serif;
    color: $white;
    position: absolute;
    bottom: 30px;
    left: 30px;
    text-align: left;
    opacity: 0.8;
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}
