<div class="centered title-block">
	<h1>Our History</h1>
</div>

<div class="list-group">
	<a href="#" class="list-group-item">
		<div class="col-xs-10 col-sm-11">
			<h4 class="list-group-item-heading">Ben and Clara Come to New York</h4>
			<p class="list-group-item-text">Written By: Viola Halper</p>
		</div>
		<div class="col-xs-2 col-sm-1">
			<h2><i class="fa fa-angle-right"></i></h2>
		</div>
		<div class="clearfix"></div>
	</a>
	<a href="#" class="list-group-item">
		<div class="col-xs-10 col-sm-11">
			<h4 class="list-group-item-heading">Marty</h4>
			<p class="list-group-item-text">Written By: Viola Halper</p>
		</div>
		<div class="col-xs-2 col-sm-1">
			<h2><i class="fa fa-angle-right"></i></h2>
		</div>
		<div class="clearfix"></div>
	</a>
	<a href="#" class="list-group-item">
		<div class="col-xs-10 col-sm-11">
			<h4 class="list-group-item-heading">Memories of 411 E. 171st Street</h4>
			<p class="list-group-item-text">Written By: Viola Halper</p>
		</div>
		<div class="col-xs-2 col-sm-1">
			<h2><i class="fa fa-angle-right"></i></h2>
		</div>
		<div class="clearfix"></div>
	</a>
</div>