<style type="text/css">
    .node circle {
	    cursor: pointer;
	    fill: #DF393B;
	    stroke: steelblue;
	    stroke-width: 1.5px;
    }
    .node text {
        fill: #DF393B;
        cursor: pointer;
    }
    .node text: hover {
        font-weight: bold;
    }
    path.link {
	    fill: none;
	    stroke: #DF393B;
	    stroke-width: 1.5px;
    }
</style>
<div class="container page-content">
	<div class="title-block">
	    <h1>The Chalom Family Tree</h1>
	</div>
	<div id="familyTree"></div>
</div>